<div class="container">
  <h2>About NPC Lives</h2>
  <p>Ever wonder what kind of things NPC's in video games or RPG's might be thinking as the adventurers go about their business?</p>
  <p>Is that lady who's house you randomly entered freaking out or rather pleased to have a guest?</p>
  <p>Is the merchant wondering why you are purchasing hundreds of antidotes or just delighted to be making so much money?</p>
  <p>What about the guard who, for reasons beyond him, finds you to be the most trustworthy individual he's ever met?</p>

  <p>Here at NPC lives you can see what it's like yourself! </p>
  <p>Put yourself in the shoes of the shoes of the NPC's you always ingore, and see what kind of frustrations you discover!</p>
  <p>Share the weird schenanigans the wily adventurers put you through, or the agony they impose upon your daily life.</p>
  <p>Have nothing to share? Comment on the problems other NPC's have had with their lives, and offer your two cents on how you
    would tackle it!</p>
  <p>Of course, as NPC's, none of us have real names, so be sure to let everyone know who you are! Are you the Barmaid? Guard
    #8? Ranting Old Man? Let us know!</p>
</div>